# Script to quantify variations minimum of the Ae. tauschii accesison by windows from IBSpy combined tables by chromsome

In [1]:
import pandas as pd
import numpy as np

## Functions

In [2]:
def select_genotypes(df, sample_list):
    filter_df = df.set_index(['seqname', 'start', 'end']).filter(items=sample_list, axis=1)
    return filter_df.reset_index()

def file_to_list(file):
    file_l = pd.read_csv(file)['genotype'].tolist()
    return file_l

def get_min(df, list_1, list_2):
    monoc_df = select_genotypes(df, list_1)
    out_df = select_genotypes(df, list_2)
    out_df.insert(3, 'aet_min', monoc_df.iloc[:, 3:].min(axis=1))
    return out_df

def filter_min(df, filter_v):
    for value in filter_v:
        c_pos = filter_v.index(value)
        df.insert(4+c_pos, f'aet_min_{value}', np.where(min_df['aet_min']<= value, 'TRUE','FALSE'))
    return df

##  Arguments

In [3]:
window = 50000
reference = 'sy_mattis'
data_path = '/Users/quirozc/Documents/PhD_2020/16_watseq/0_IBSpy_data/'

## Input IBSpy variaitons table data

In [4]:
in_file = pd.read_csv(f'{data_path}/{reference}_combined_queries_{window}w.tsv.gz', delimiter='\t')
in_file

,seqname,start,end,arina-10x_nuq,arina-pg,cadenza-10.4x_nuq,cadenza-15x_nuq,chinese-10x_nuq,chinese-pg,claire-10x_nuq,...,WATDE0159,WATDE0638,WATDE0758,WATDE0667,Urban,WATDE0850,Boreonos,WATDE1058,WATDE0929,WATDE0370
0,chr1A_WhSYM,1,50000,0,1,389,383,383,391,392,...,389,9,401,391,379,369,393,412,393,383
1,chr1A_WhSYM,50001,100000,3,1,601,594,586,592,597,...,612,36,602,613,598,608,604,603,603,600
2,chr1A_WhSYM,100001,150000,0,1,513,514,511,509,519,...,513,10,526,519,530,513,514,531,518,527
3,chr1A_WhSYM,150001,200000,1,3,481,470,451,462,481,...,486,16,483,469,480,468,478,482,474,498
4,chr1A_WhSYM,200001,250000,1,1,465,463,444,460,453,...,458,11,475,449,444,456,442,469,465,450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299116,chrUn_WhSYM,956600001,956650000,11,54,27,27,26,68,7,...,15,23,19,21,26,25,31,19,20,27
299117,chrUn_WhSYM,956650001,956700000,3,32,10,9,4,37,2,...,5,5,5,5,6,6,9,7,6,7
299118,chrUn_WhSYM,956700001,956750000,0,33,3,3,2,41,0,...,2,6,4,3,6,4,14,4,12,13
299119,chrUn_WhSYM,956750001,956800000,1,40,2,2,1,32,2,...,5,4,6,5,4,7,5,7,6,7
299120,chrUn_WhSYM,956800001,956850000,3,47,7,4,3,41,6,...,12,12,5,8,8,6,10,12,7,7

## Filter by sub-genome A

In [5]:
by_genome = in_file[in_file['seqname'].str.contains('D')].copy()
by_genome

,seqname,start,end,arina-10x_nuq,arina-pg,cadenza-10.4x_nuq,cadenza-15x_nuq,chinese-10x_nuq,chinese-pg,claire-10x_nuq,...,WATDE0159,WATDE0638,WATDE0758,WATDE0667,Urban,WATDE0850,Boreonos,WATDE1058,WATDE0929,WATDE0370
25716,chr1D_WhSYM,1,50000,14,12,61,32,15,16,12,...,38,844,22,855,17,12,25,21,25,36
25717,chr1D_WhSYM,50001,100000,21,17,75,45,21,30,20,...,25,575,33,573,32,14,22,37,17,26
25718,chr1D_WhSYM,100001,150000,13,11,77,41,7,11,14,...,30,438,14,428,17,23,37,41,23,38
25719,chr1D_WhSYM,150001,200000,4,5,59,21,8,16,6,...,30,343,17,331,10,16,34,22,20,36
25720,chr1D_WhSYM,200001,250000,2,4,31,9,10,10,4,...,27,412,15,409,6,6,12,20,12,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279979,chr7D_WhSYM,634800001,634850000,516,516,515,505,503,505,519,...,512,491,514,512,474,499,506,481,523,522
279980,chr7D_WhSYM,634850001,634900000,524,526,494,495,507,511,510,...,514,496,521,500,490,506,500,500,501,515
279981,chr7D_WhSYM,634900001,634950000,544,548,538,534,535,543,521,...,546,556,550,549,525,559,558,543,530,537
279982,chr7D_WhSYM,634950001,635000000,523,516,449,454,466,457,520,...,520,464,465,458,452,515,467,447,453,471
279983,chr7D_WhSYM,635000001,635050000,940,935,955,955,944,936,944,...,950,944,953,949,925,957,937,924,948,946

## Get Ae. tauschii minimum variaitons count by window

In [6]:
aet_list = file_to_list('Ae_tauschii_genotypes.tsv')
genotypes_list = file_to_list('genotypes.tsv')
min_df = get_min(by_genome, aet_list, genotypes_list)
min_df

,seqname,start,end,aet_min,BW_01001,BW_01002,BW_01003,BW_01004,BW_01006,BW_01007,...,chinese-pg,jagger-pg,julius-pg,lancer-pg,landmark-pg,mace-pg,mattis-pg,norin61-pg,spelt-pg,stanley-pg
0,chr1D_WhSYM,1,50000,15,198,196,66,25,206,52,...,16,14,1,14,832,845,0,830,16,23
1,chr1D_WhSYM,50001,100000,18,147,152,66,18,139,52,...,30,20,12,27,593,562,0,572,18,26
2,chr1D_WhSYM,100001,150000,15,90,90,60,15,90,44,...,11,15,8,14,426,420,0,416,14,20
3,chr1D_WhSYM,150001,200000,10,231,239,67,13,225,47,...,16,7,4,6,333,320,0,318,6,13
4,chr1D_WhSYM,200001,250000,10,392,388,116,14,398,55,...,10,3,3,4,411,398,0,404,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78776,chr7D_WhSYM,634800001,634850000,433,442,456,465,447,444,472,...,505,475,499,526,492,513,0,488,478,487
78777,chr7D_WhSYM,634850001,634900000,447,479,475,468,467,469,467,...,511,490,509,503,504,501,0,503,494,500
78778,chr7D_WhSYM,634900001,634950000,473,542,555,503,508,533,522,...,543,541,553,533,564,557,0,517,545,573
78779,chr7D_WhSYM,634950001,635000000,414,439,431,437,446,421,430,...,457,444,463,522,461,504,0,503,468,453
78780,chr7D_WhSYM,635000001,635050000,906,968,955,960,944,970,938,...,936,931,930,951,922,928,0,930,939,936

## Assign <30 or 120 regions

In [7]:
values_f = [30, 120]
min_value_df = filter_min(min_df, values_f)
min_value_df

,seqname,start,end,aet_min,aet_min_30,aet_min_120,BW_01001,BW_01002,BW_01003,BW_01004,...,chinese-pg,jagger-pg,julius-pg,lancer-pg,landmark-pg,mace-pg,mattis-pg,norin61-pg,spelt-pg,stanley-pg
0,chr1D_WhSYM,1,50000,15,TRUE,TRUE,198,196,66,25,...,16,14,1,14,832,845,0,830,16,23
1,chr1D_WhSYM,50001,100000,18,TRUE,TRUE,147,152,66,18,...,30,20,12,27,593,562,0,572,18,26
2,chr1D_WhSYM,100001,150000,15,TRUE,TRUE,90,90,60,15,...,11,15,8,14,426,420,0,416,14,20
3,chr1D_WhSYM,150001,200000,10,TRUE,TRUE,231,239,67,13,...,16,7,4,6,333,320,0,318,6,13
4,chr1D_WhSYM,200001,250000,10,TRUE,TRUE,392,388,116,14,...,10,3,3,4,411,398,0,404,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78776,chr7D_WhSYM,634800001,634850000,433,FALSE,FALSE,442,456,465,447,...,505,475,499,526,492,513,0,488,478,487
78777,chr7D_WhSYM,634850001,634900000,447,FALSE,FALSE,479,475,468,467,...,511,490,509,503,504,501,0,503,494,500
78778,chr7D_WhSYM,634900001,634950000,473,FALSE,FALSE,542,555,503,508,...,543,541,553,533,564,557,0,517,545,573
78779,chr7D_WhSYM,634950001,635000000,414,FALSE,FALSE,439,431,437,446,...,457,444,463,522,461,504,0,503,468,453
78780,chr7D_WhSYM,635000001,635050000,906,FALSE,FALSE,968,955,960,944,...,936,931,930,951,922,928,0,930,939,936

## Split by chromosome & save tables

In [8]:
chromosomes = ('chr1D', 'chr2D', 'chr3D', 'chr4D', 'chr5D','chr6D','chr7D')

for chromosome in chromosomes:
    chrom_ind = min_value_df[min_value_df['seqname'].str.contains(chromosome)].copy()
    chrom_ind.to_csv(f'{reference}_{chromosome}_variations_all_genotypes.tsv.gz', sep='\t', index=False)